*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    height: 80px;
    background-color: aqua;
}

.container-header{
    width: 60%;
    height: 50px;
    margin: 0 auto;
    background-color: yellow;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    height: 100%;
}

nav.column > section{
    width: 20%;
    height: 100%;
    border: dashed black 1px;
}

nav.column > aside{
    width: 80%;
    height:100%;
    border: dashed black 1px;
}

.section-header{
    height: 500px;
    background-color: rgb(3, 3, 97);
}

.container{
    width: 50%;
    height: 70%;
    background-color: rgb(245, 140, 158);
    border: dashed black 1px;
}
