*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    height: 80px;
    background-color: aqua;
}

.container-header{
    width: 60%;
    height: 50px;
    margin: 0 auto;
    background-color: yellow;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    height: 100%;
}

nav.column > section{
    width: 20%;
    height: 100%;
    border: dashed black 1px;
}

nav.column > aside{
    width: 80%;
    height:100%;
    border: dashed black 1px;
}

.section-header{
    height: 500px;
    background-color: rgb(3, 3, 97);
    margin-bottom: 5rem;
}

.container{
    width: 50%;
    height: 70%;
    background-color: rgb(245, 140, 158);
    border: dashed black 1px;
}


.contenitore{
    width: 60%;
    height: 450px;
}

div.contenitore > aside{
    height: 100%;
    width: 65%;
    background-color: cornflowerblue;
    border: dashed black 1px;
}

div.contenitore > article{
    height: 100%;
    width: 35%;
    background-color: pink;
    border: dashed black 1px;
}

.second-section{
    height: 550px;
    background-color: rgb(214, 212, 212);
}

.third-section{
    height: 800px;
    background-color: rgb(214, 212, 212) ;
}

.contenitore-verde{
    background-color: green;
    border: dashed 1px black;
    height: 700px;
    width: 60%;
}

.contenitore-footer{
    width: 60%;
    height: 450px;
}

div.contenitore-footer > article{
    height: 100%;
    width: 40%;
    background-color: salmon;
}

div.contenitore-footer > aside{
    height: 100%;
    width:30%;
    background-color: rgb(25, 112, 111);
    border: dashed 1px black;
}

footer{
    height: 80px;
    background-color: rgb(41, 40, 40);
}


.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer{
    width: 60%;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(65, 189, 189);
}

.flex-button{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

button{
    height: 1.5rem;
    background-color: pink;
    border: dashed 1px black;
    padding:.2rem
}

.section-last{
    height: 500px;
    background-color: rgb(41, 40, 40);
}

ul{
    list-style: none;
    display: flex;
    justify-content: center ;
}